<a href="/movies">Back</a>

<h1><%= @movie.title %></h1>

<img src="<%= @movie.image_url %>" width="100">

<p>Year: <%= @movie.year %></p>

<p>Length: <%= @movie.duration %> mins.</p>

<p>Synopsis: <%= @movie.description %></p>

<p><a href="">Update</a></p>
<p><a href="">Delete</a></p>
